.center{
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
  height: 100vh;
}

#register_company_form{
  background-color: #88B04B;
}

#delete_company_form{
  background-color: #88B04B;
}

.special_hr{
  border-top: 1px dashed white;
}

.information_text{
  font-size: 20px;
  font-weight:bold;
}

#navigation_bar{
  padding-left: 0px;
  margin: 0px;
  height: 100vh;
}

#navigation_bar_ul{
  color: black;
  padding-left: 5px;
  list-style-type:none;
}

#navigation_bar_ul li{
  list-style-type:none;
}

#navigation_bar_ul li a{
  color: inherit;
}

.green_to_white, #navigation_bar{
  background-image: linear-gradient(rgba(136, 176, 75, 1), rgba(255, 255, 255, 1));
}
