.center{
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
  height: 100vh;
}

#register_company_form{
  background-color: #88B04B;
}

#delete_company_form{
  background-color: #88B04B;
}

.special_hr{
  border-top: 1px dashed white;
}
