html{
  scroll-behavior: smooth;
}
.center{
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
  height: 100vh;
}

#information_of_company{
  background: #495057;
  color: white;
  font-style: italic;
  font-weight: bold;
}

#register_company_form, #delete_company_form,
 #delete_information_get_div, #registered_organizations_div{
  margin: auto;
  padding: auto;
  color: white;
  background: #495057;
}

#organizations_table{
  color: inherit;
}

.table tbody tr:hover{
  color: white;
}

.special_hr{
  border-top: 1px dashed white;
}


@keyframes navigation_bar_color_changer_reverse {
  from{
    background-color: white;
  }
  to{
    background-color: #28a745;
  }
}

#navigation_bar{
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  height: 100vh;
  width: 1%;
  display: block;
  animation-name: navigation_bar_color_changer_reverse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s linear;
}

#navigation_bar_ul{
  padding-left: 0px;
  vertical-align: middle;
  list-style-type:none;
  overflow: hidden;
  display: none;
}

@keyframes navigation_bar_color_changer {
  from{
    background-color: #28a745;
  }
  to{
    background-color: white;
  }
}

#navigation_bar:hover{
  animation-name: navigation_bar_color_changer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 25%;
  transition: width 1s linear;
}

#navigation_bar:hover #navigation_bar_ul{
  display: block;
  animation-name: increase_opacity_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#navigation_bar_ul li{
  list-style-type:none;
}

#navigation_bar_ul li ul{
  display: none;
}

@keyframes increase_opacity_animation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#navigation_bar_ul li:hover ul{
  display: block;
  animation-name: increase_opacity_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#navigation_bar_ul li a{
  color: inherit;
}

@keyframes blinker {
  50%{
    opacity: 0;
  }
}

#navigation_bar_ul li a:hover{
  animation: blinker 2s linear infinite;
}

footer{
  width: 100vw;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

#background_video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index:-1;
}

.fontsize20px{
  font-size: 20px;
}

.form-control{
  display: block;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
